
.sl_main { background: #fff; min-height:500px;}
.sl_title { text-align: center; background: #F5F5F5; height: 50px; line-height: 50px;}
.sl_title div { float:left }

.sl_table { text-align: center; background: #fff; min-height: 200px; }
.sl_table_row {border-bottom: 1px solid  #ccc; height: 65px; line-height: 65px; cursor:pointer;}
    .sl_table_row:hover { background: #F5F5F5; }

.sl_table_row_time { width: 20%; float: left; }
.sl_table_row_type { width: 20%; float: left; }
.sl_table_row_title { width: 60%; float: left; }
.sl_table_row_status { width: 20%; float: left; }
.sl_table_row_chk { margin-right:20px; vertical-align:text-bottom; margin-bottom:2px; margin-bottom:-2px\9; }

.sl_table_row_read { color:#999; }
.sl_table_row_unread { color:black; }
.sl_table_row_unread .sl_table_row_title,.sl_table_row_unread .sl_table_row_status { color: rgb(0,153,255); }
.floatleft { }

.sl_paging { height:90px; width:100%; line-height:90px; }
#sl_paging_allselect {  margin-left:46px;  vertical-align:text-bottom; margin-bottom:1px; margin-bottom:-1px\9;  }
.sl_paging_lefta { margin:auto 15px; }

.sl_paging_right { float:right; margin-right:80px; }
.sl_paging_lastnextpage { margin:0px 20px; }

.sl_paging_right .page a span, .sl_paging_right .page strong span {
    padding-right: 6px;
    cursor: pointer;
}


.znx_conn {
    height: 70px;
    margin:0px auto;
    padding-top:20px;
    width:560px;
}

.znx_conn div {
    margin:auto 25px;
}



/*站内信详情*/
.bd_mdetail { background: #FFF; margin:0px; }
.m_detailmain {width:100%; min-height:100px; background:#FFFFFF;font-size: 14px; }
.m_detailmain .top{width:100%; height:78px; line-height:78px; border-bottom:1px solid #ccc; *line-height:32px; color:#aa0000; font-size:24px;}
.m_detailmain .top_title { margin-left:20px; font-size:20px; color:#444444}
.m_detailmain .close{ position:absolute; top:20px; right:0px; width:50px; height:40px; float:right;  background:url(/static/img/member/turn_off.png) no-repeat 0px -50px;cursor:pointer;}
.m_detailmain .delete{width:18px; height:20px; float:right; background:url(/static/img/member/trash_03.png); margin-right:10px; margin-top:15px; cursor:pointer;}
.m_detailmain .title{width:100%; border-bottom:1px solid #eeeeee; height:90px; color:#333333; font-size:16px; }
.m_detailmain .title_1{ height:48px; color:rgb(0,153,255);  padding-left:15px;  line-height:48px; font-size:16px;}
.m_detailmain .title span{font-size:12px; padding-left:15px; color:#666666;}
.m_detailmain .bd { line-height: 30px; color: #333; margin-top:10px; margin-bottom: 10px; padding:5px 15px 0px; padding-bottom:40px;  }
.m_detailmain .newhd {display: inline-block;width: 96%; }
.m_detailmain p{ margin: 0; padding:0}
.m_detailmain *{line-height: 28px;}
.closebut.as_but.inputwd300{ display: none}
    /*站内信详情回复*/
        /*站内信回复*/
        .dialogue {
    padding-bottom: 40px;
}
    .dialogue ul li,.dialogue ul {
         margin:0;
         padding:0;
         list-style:none;
    }
        .dialogue ul li.user, .dialogue ul li.customer {
            padding: 10px;
            display: inline-block;
        } 
        .dialogue ul li.user  .pic {
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(/static/img/member/messagepic.png) no-repeat;
            float:right;
            margin-left:15px;
            margin-top:3px;
        }
            .dialogue ul li.user .text {
                float: right
            }
            .dialogue ul li.user .text_info, .dialogue ul li.customer .text_info {
                font-size: 14px;
                text-align: right;
                display: inline-block;
                width: 610px;
            }
                .dialogue ul li.user .text_info span.info, .dialogue ul li.customer .text_info span.info {
                    background: #ddecf7;
                    border-radius: 3px 0 3px 3px;
                    display: inline-block;
                    padding: 10px;
                }
            .dialogue ul li.user .text_time, .dialogue ul li.customer .text_time {
                font-size: 12px;
                color: #999999;
                line-height: 36px;
                text-align: right
            }
        .dialogue ul li.customer .pic {
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(/static/img/member/messagepic.png) no-repeat 0 -24px;
            float: left;
           
            margin-top: 3px;
            margin-right:15px;
        }
            .dialogue ul li.customer .text {
                float: left
            }
            .dialogue ul li.customer .text_info {
                text-align: left;
            }
                .dialogue ul li.customer .text_info span.info {
                    background: #f5f5f5;
                    border-radius: 0 3px 3px 3px;
                }
            .dialogue ul li.customer .text_time {
                text-align: left
            }
            .dialogue ul li.customer a {
                color: #0099ff
            }
    .dialogue .send_text {
  width:100%;
   display:inline-block;
   
    } 
    
    .dialogue textarea {
        border-radius: 3px;
        border: 1px solid #dddddd;
        width: 94%;
        margin: auto;
        display:inline-block;
        height:67px;
        padding:1%;
        margin:0 3%;
    }
.as_but {
    line-height: 37px;
    color: #fff;
    height: 37px;
    text-align: center;
    border: 1px solid #50ade5;
    cursor: pointer;
    border-radius: 2px;
    background-image: linear-gradient(to top,#61bcf3,#6cc5fb);
    width: 120px;
    margin: auto;
    float:right;
    margin-right:3%;
    margin-top:3%;
        

}
.m_casino_h2{ height:60px; background: #0099ff; color: #fff; font-weight: normal; text-align: center; margin: 0; font-size: 18px; line-height: 60px;}
.m_casino_table{ width: 100%; border: 0; border-collapse: collapse; border: 0;}
.m_casino_table th{ line-height: 50px; background: #f5f5f5;font-weight: normal}
.m_casino_table tr{ cursor: pointer}
.m_casino_table tr td{line-height: 50px; text-align: center; border-bottom: 1px solid #dedede}
.m_casino_table tr:hover td,.m_casino_table tr.on td{ background: #f2faff;}
